.dashboard-container {
    display: flex;
    background-color: #f5f7fb;
    
    .dashboard-side {
        width: 70px;
        background-color: #6852d9;;
        //position: fixed;
        /**/height: 600px;
     
        
        .dashboard-side-logo{
        display: flex;
        align-items: center;
        
            h4{
                padding: 15px;
                color: #fff;
                font-family: "Varela Round", sans-serif;
                
            }
        }
        
        .dashboard-side-icons {
            display:flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 131px;
            
            svg {
                padding: 30px; 
                color: #fff;
                transition: 0.2s ease-in-out;
                cursor: pointer;
                
                &:hover{
                    color: tomato;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
    
    .dashboard{
        display: flex;
        justify-content: space-between;
        /**/
        width: 100%;
        padding: 33px 2%;
        
        .dashboard-content{
            //padding: 33px 3%;
            width: 100%;
            padding-right: 54px;
            font-family: "Varela Round", sans-serif;
            
            .dashboard-content-top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .dashboard-content-title{
                    color: #7d7d7d;

                    h3{
                        margin: 0;

                    }
                }
                
                .dashboard-content-icons{
                    display: flex;
                    align-items: flex-start;
                    color: #7d7d7d;
                    
                    svg{
                        padding-right: 15px;
                    }
                }
            }
            
            .dashboard-2nd-row{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
            
        }
        
        .dashboard-news{
            
            .dashboard-news-top{
                display: flex;
                justify-content: space-between;
                margin-bottom: 23px;
                
                .dashboard-news-title{
                    display: flex;
                    
                    h4{
                        padding-right: 15px;
                        margin: 0;
                        color: #7d7d7d;
                        font-family: "Varela Round", sans-serif;
                        font-size: 19px;
                    }
                    
                    p{
                        margin: 0;
                        color: #d0d0d0;
                        font-family: "Varela Round", sans-serif;
                        font-size: 13px;
                        padding-top: 5px;
                    }
                }
                
                .dashboard-news-popular {
                    display: flex;
                    position: relative;
                    color: #7d7d7d;
                    
                    h4{
                        padding-right: 15px;
                        margin: 0;
                        font-size: 15px;
                        font-family: "Varela Round", sans-serif;
                        padding-top: 4px;
                        cursor: pointer;
                    }
                    
                    svg{
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }
    }
    
}