.day-routine-container {
    display: flex;
    padding: 5% 30px;
    flex-direction: row;
    flex-flow: wrap;
    padding-right: 240px;
    justify-content: space-around;
    
    .day-routine-card {
        width: 250px;
        background-color:  #2c6be7;
        color: #fff;
        margin-bottom: 30px;
        border: 1px solid  #2c6be7;
        border-radius: 25px;
        height: 200px;
        overflow: hidden;
        position: relative;
        .day-routine-name {
            text-align: center;
        }
       
        
        .day-routine-icon-add{
            position: absolute;
            top: 17px;
            right: 37px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}