@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

.welcome{
    font-family: 'Rubik', sans-serif;
    width: 20%;
    position: fixed;
    left: 1013px;
    border: 1px solid black;
    height: 100%;
    margin-top: 0;
    padding: 15px;
    text-align: center;
 
}